DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
PORT=3000
JWT_SECRET=super-secret-key-replace-in-production
JWT_REFRESH_SECRET=super-refresh-secret-key-replace-in-production

JWT_EXPIRES=
JWT_REFRESH_EXPIRES=

SWAGGER_USER=
SWAGGER_PASSWORD=


FRONTEND_URL=